article, shape_menu, edit_menu, del_menu, color_menu, outline_menu, color_pad {
	display: block;
	}
	
body {
	font-size: medium;
	font-family: "Times New Roman";
	margin: 0px;
	}
	
#shape_menu{
	position: relative;
   left:50%;	
   margin-left: -460px;
   top:-450px;
	}
	
.menu_item{
	font-size:17px;
   background-color: lime;
   width: 90px;
   height: 5px;
   text-align: center;
   line-height: 40px;
   height: 40px;
   float: left;
   font: 13px;
   margin-right: 25px;
   margin-top: 7px;
   opacity: 0.8;
   font-size: medium;;
	}

   td.lwtd
{
   text-align : center;
   height : 30px;
   width : 30px;
   border: 1px solid black;
   background-color: cyan;
}

td
{
   border: 1px solid black;
   height : 30px;
   width : 30px;
}



canvas
{
   border: 1px solid black;
}

td.Black
{
   background-color:black; 

}

td.Blue
{
   background-color:Blue; 

}


td.Brown
{
   background-color:Brown; 

}


td.Chocolate
{
   background-color:Chocolate; 

}

td.Crimson
{
   background-color:Crimson; 

}


td.Cyan
{
   background-color:Cyan; 

}

td.Gold
{
   background-color:Gold; 

}

td.Gray
{
   background-color:Gray; 

}


td.Green
{
   background-color:Green; 

}


td.GreenYellow
{
   background-color:GreenYellow; 

}


td.Orange
{
   background-color:Orange; 

}


td.Pink
{
   background-color:Pink; 

}

td.Silver
{
   background-color:Silver; 

}


td.SkyBlue
{
   background-color:SkyBlue; 

}


td.Tan
{
   background-color:Tan; 

}

td.Violet
{
   background-color:Violet; 

}


td.White
{
   background-color:White; 

}

td.Yellow
{
   background-color:Yellow; 

}


td.Wheat
{
   background-color:Wheat; 

}


td.Purple
{
   background-color:Purple; 

}